@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@import "tailwindcss";
@plugin 'daisyui';

html {
  overflow-y: hidden;
}

.forum {
  font-family: "Forum", serif;
}

.pixfont {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
}